footer {
  background-color: var(--light-color);
  font-size: var(--body-font-size-xs);
}

footer .footer > div {
  margin: auto;
  max-width: var(--footer-width);
  padding: 40px 24px 24px;
}

footer .footer p {
  margin: 0;
}

@media (width >= 768px) {
  footer .footer > div {
    padding: 40px 32px 24px;
  }
}
